/* Write your CSS here */

.bg-container {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  height: 300px;
  width: 600px;
  border-radius: 10px;
}
